@model IEnumerable<JustProject.Domain.Entity.UserTests >

@{
    ViewBag.Title = "История тестов";
}

<link rel="stylesheet" href="~/css/Account.css" />

<div class="top-line"></div>
<div class="history d-flex justify-content-between">
    <div class="personal-cart">
        <img src="~/Images/User/personal.png"/>
        <p>@User.Identity?.Name</p>
        <hr />
        <a class="page-a" href="~/User/Account">Личные данные</a>                
        <div>            
            <a class="page-a" href="~/User/HistoryTests">История тестов</a>
            <hr />
        </div>
        <a class="page-a" href="~/User/Consultation">Констультация</a>
        <a class="page-a" href="~/User/Results">Результаты тестов</a>
        <a class="btn-link exit" href="~/User/LogOut">Выйти</a>
    </div>
    <div class="personal-data">
        <img class="account-menu" id="toggleBtn" src="~/Images/User/menu.png" />
        @if (User.FindFirst(ClaimTypes.UserData)?.Value == "True")
        {
             <div class="history-mobile justify-content-between align-items-baseline">
                <h2>Ваши тесты</h2>
                <h5>Приобретение желаемых тестов <a asp-action="BuyTests" asp-controller="Tests">тут</a></h5>
            </div>
            <div>
                @for (var i = 0; i < 1; i++)
                {
                    @foreach (var test in Model)
                    {
                        if (i<3)
                        {
                            <div>                                
                                <a class="cart-test-delete" asp-controller="User"
                                asp-action="Delete" asp-route-id="@test.Id">Удалить</a>
                                <a asp-controller="Tests" asp-action="Example" asp-route-id="@test.Id">
                                    <div class="cart-test">
                                        <div class="d-flex justify-content-between">
                                            <h3>@test.NameTest</h3>
                                            <p class="result">Пройдено на: @test.Complete %</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-0 ">Тип: @test.Type</p>
                                            <p class="mb-0 data">@test.Date</p>
                                        </div>
                                    </div>                                
                                </a>                         
                            </div>

                            i++;
                            continue;
                        } 
                    }
                }                          
                <div id="moreTests" class="dropdown-content">
                    @for (var i = 0; i < 1; i++)
                    {
                        @foreach (var test in Model)
                        {
                            if (i < 3)
                            {
                                i++;
                                continue;
                            }
                            <div>
                                <a class="cart-test-delete" asp-controller="User"
                                asp-action="Delete" asp-route-id="@test.Id">Удалить</a>
                                <a asp-controller="Tests" asp-action="LoginTest" asp-route-id="@test.Id">
                                    <div class="cart-test">
                                        <div class="d-flex justify-content-between">
                                            <h3>@test.NameTest</h3>
                                            <p class="result">Пройдено на: @test.Complete %</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-0">Тип: @test.Type</p>
                                            <p class="mb-0 data">@test.Date</p>
                                        </div>
                                    </div>
                                </a> 
                            </div>
                        }
                    }
                </div>
            </div>
            if (Model.Count() > 3)
            {
                <div class="d-flex justify-content-center">
                    <button class="btn-more" id="btnTests" onclick="tests()">Показать еще</button>
                </div>
            }
        }
        
        else
        {            
            <h3><a asp-controller="Tests" asp-action="LoginTest">Подтвердите</a> покупку блока тестирования</h3>
        }
    </div>
</div>
<script src="~/js/accountScroll.js"></script>